@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-custom-bg;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.spinner_ajPY{
  transform-origin:center;
  animation:spinner_AtaB .75s infinite linear;
}

@keyframes spinner_AtaB{
  100%{
    transform:rotate(360deg)
  }
}